.footer {
  background-color: #282c34; // matching header background
  color: #ffffff;
  padding: 20px;
  font-family: sans-serif;
  font-size: 0.9rem;
  position: static;
  bottom: 1rem;
  left: 0;
  width: 100%;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: nowrap;
}

.footer .eu_logo_div,
.footer .ai4eosc_logo_div {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.legals {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0.2em;
}

.footer ul {
  gap: 0rem;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}

.footer a:hover {
  color: #cccccc;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .eu_logo {
  height: 3.0rem;
  width: auto;
  margin-right: 1rem;
}

.footer .ai4eosc_logo {
  height: 3rem;
  width: auto;
  margin: 0 10px;
}

@media (max-width: 900px) {
  .footer .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer .eu_logo_div,
  .footer .ai4eosc_logo_div {
    justify-content: center;
    width: 100%;
  }

  .footer .eu_text_div,
  .footer .legals_div {
    text-align: center;
    width: 100%;
  }
}

body {
  padding-bottom: 4rem;
}
